@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;

  background: #b4d0d9;
background: linear-gradient(90deg,rgba(180, 208, 217, 1) 0%, rgba(0, 158, 66, 0.3) 45%, rgba(232, 228, 209, 1) 100%);

  background-attachment: fixed;
}

.goog-te-banner-frame {
  display: none !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

body {
  top: 0px !important;
}